.header {
  display: flex;
  justify-content: space-between;
}
.cart-btn-container {
  max-width: 200px;
  margin: 25px 10px 0;

  img {
    width: 32px;
    height: 32px;
  }
  &-title {
    font-family: 'Odibee Sans';
    font-size: 25px;
  }
  .view-cart-btn {
    display: flex;
    float: right;
  }
}
